@page
@model ClubMembership.Pages.President.Clubs.IndexModel
@{
    var club = Model.Club ?? default!;
    ViewData["Title"] = club.Name;
}
@section Styles{
    <link rel="stylesheet" href="~/css/box.css"/>
}
<a class="btn btn-secondary mb-1" href="./Clubs/Edit">Update Club</a>
<br/>
<a class="btn btn-primary mb-1" href="./Memberships">Memberships</a>
<a class="btn btn-primary mb-1" href="./Activities">Activities</a>
<a class="btn btn-primary mb-1" href="./ClubBoards">Club boards</a>