@page
@model ClubMembership.Pages.President.Clubs.IndexModel
@{
    var club = Model.Club ?? default!;
    ViewData["Title"] = club.Name;
}
@section Styles{
    <link rel="stylesheet" href="~/css/box.css"/>
}
<h1>@club.Name</h1>
<img src="@club.LogoUrl" alt="logo" style="object-fit: cover; height: 100px; width: 100px"/>
<br/>
<a class="btn btn-primary mb-1" href="./Memberships">Memberships</a>
<a class="btn btn-primary mb-1" href="./Activities">Activities</a>
<a class="btn btn-primary mb-1" href="./clubboards">Club boards</a>