@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="align-content-between">
    <h1 class="text-danger">Oops, Server error :(((((</h1>
    <h2 class="text-danger">@TempData["Error"]</h2>
</div>